################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/TestKB.VC.db
*.opendb
/ipch
/.vs/AccidentalKeyPressFix/v14
/TestKB/x64
